body {
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../img/background/forgotpassword.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.forgot-container {
    display:flex;
    justify-content:  center;
    align-items: center;
    min-height: 100vh;

}

.forgot-box {

    background: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    padding: 40px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 4px solid black
}


h2 {
    font-size: 1.6rem;
    margin-bottom: 25px;
    font-style:italic;
    color: black;
    box-shadow: black 1px 1px 2px;
}


